@keyframes accordion-icon-rotate {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}

@keyframes accordion-icon-rotate-reverse { 
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes collection-reveal {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes flashing-green {
    
    0% {
        background-color: rgb(134, 209, 91);
    }

    // 50% {
    //     background-color: rgb(104, 179, 61);
    // }

    100% {
        background-color: rgb(209, 134, 91);
    }

}