/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

/* Imports of other sass files */
@import 'Animations';
@import 'Form';
@import 'Navigation';
@import 'GuestHomePage';
@import 'UserHomePage';
@import 'ProfilePage';
@import 'Confirm';
@import 'CreateQuizPage';
@import 'QuizPage';
@import 'QuizListPage';
@import 'SearchPage';
@import 'Spinner';
@import 'Pagination';

/* Generic default style rules for all elements */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Defines base font-size */
:root {
    font-size: 10px;
}

/* Hides scrollbar on chromium browsers */
::-webkit-scrollbar{
	display: none;
}

/* Hides scrollbar on mozilla browsers */
html {
    scrollbar-width: none;
}

/* Defines generic rules for all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'K2D', Arial, sans-serif;
}

h1 {
    font-size: 2rem;

    @media screen and (min-width: 720px) {
        font-size: 2.8rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1.6rem;

    @media screen and (min-width: 720px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 1.4rem;

    @media screen and (min-width: 720px) {
        font-size: 1.8rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 2.2rem;
    }
}

/* Defines generic rules for all normal text */
p, span {
    font-family: 'Encode Sans', Arial, sans-serif;
    font-size: 1.4rem;

    @media screen and (min-width: 720px) {
        font-size: 1.8rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 2.4rem;
    }
}

/* Defines generic rules for all link and button text */
a, button, .link {
    font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #338;
    cursor: pointer;
    border: none;

    &:hover {
        font-style: italic;
    }

    @media screen and (min-width: 720px) {
        font-size: 1.6rem;
    }

    @media screen and (min-width: 992px) {
        font-size: 2rem;
    }
}

.nav-logo-link {
    font-size: 2.4rem;
}

/* Defines generic rules for images */
img {
    max-width: 100%;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

/* Defines generic rules for button classes */
.btn {
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    align-self: flex-start;
    font-size: 1.4rem;
    margin: 2rem 0;
    cursor: pointer;
}

.btn-info {
    color: #f2f2ff;
    background-color: #00b;
}

.btn-info-open {
    border: 0.1rem solid #000;
    color: #00b;
    padding: 0.9rem 1.9rem;
    background-color: #f2f2ff;

    &:hover {
        background-color: #f2f2ff;
    }
}

.btn-danger {
    color: #f2f2ff;
    background-color: #CC3333;
}

.btn-confirm {
    color: #f2f2ff;
    background-color: #33AA33;
}

.btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 4rem;

    @media screen and (min-width: 720px) {
        
    }

    @media screen and (min-width: 992px) {
        font-size: 2rem;
        height: 4.5rem;
    }
}

.btn-create-account {
    width: 20.1rem;
}

.btn-signin {
    width: 12rem;
}

.btn-reset {
    width: 9.3rem;
}

.btn-update-user {
    width: 8.5rem;
}

.btn-delete-user {
    width: 18.9rem;
}

.btn-create-quiz {
    width: 11.4rem;
}

.btn-delete-quiz {
    width: 15.1rem;
}

/* Container rules for all page - specific content */
.app-container {
    padding: 4rem 2rem;
    min-height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    background-color: #474242;

    @media screen and (min-width: 720px) {
        padding: 6rem 3rem;
    }

    @media screen and (min-width: 992px) {
        padding: 6rem 6rem;
    }
}

/* Container for each page */
.page-container {
    display: flex;
    flex-flow: column;
    gap: 4rem;

    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: 80vh;

    @media screen and (min-width: 500px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 720px) {
        width: 95%;
        padding: 2rem;
    }

    @media screen and (min-width: 992px) {
        width: 100%;
        padding: 2.5rem;
    }
}

.page-container {
    overflow-y: hidden !important;
}

/* Style rules for list of links */
.link-collection {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 1rem;
}

.flipped {
    transform: rotate(180deg);
}