/* Style rules for all forms */

form, .new-question-form {
    display: flex;
    flex-flow: column;

    h2 {
        text-decoration: underline;
    }

    p {
        margin-bottom: 2rem;
    }

    label {
        font-family: 'Encode Sans', Arial, sans-serif;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        max-width: 800px;

        @media screen and (min-width: 720px) {
            font-size: 1.4rem;
        }
    
        @media screen and (min-width: 992px) {
            font-size: 1.6rem;
        }
    }

    // Rules for specific type of input elements
    input[type="text"], input[type="email"], input[type="password"] {
        height: 4rem;
        border: 0.1rem solid #000;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        max-width: 80rem;

        &:focus {
            background-color: #f8ffff;
            border-width: 0.2rem;
            outline: none;
        }

        @media screen and (min-width: 720px) {
            height: 4.5rem;
            font-size: 1.8rem;
        }
    
        @media screen and (min-width: 992px) {
            height: 5rem;
            font-size: 2rem;
        }
    }

    input[type="radio"] {
        
        display: grid;
        place-content: center;
        appearance: none;
        background-color: #fff;
        margin: 0;
        color: #000;
        width: 1.6rem;
        height: 1.6rem;
        border: 0.1rem solid #000;
        border-radius: 50%;

        @media screen and (min-width: 720px) {
            width: 1.8rem;
            height: 1.8rem;
        }
    
        @media screen and (min-width: 992px) {
            width: 2rem;
            height: 2rem;
        }

    }

    input[type="radio"]::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        transform: scale(0);
        box-shadow: inset 1em 1em #33AA33;

        @media screen and (min-width: 720px) {
            width: 1rem;
            height: 1rem;
        }
    
        @media screen and (min-width: 992px) {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    input[type="radio"]:checked::before {
        transform: scale(1);
    }

    .radio-input-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.6rem;

        @media screen and (min-width: 720px) {
            font-size: 1.8rem;
        }
    
        @media screen and (min-width: 992px) {
            font-size: 2rem;
        }
    }

    select {
        height: 4rem;
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        max-width: 80rem;

        @media screen and (min-width: 720px) {
            height: 4.5rem;
            font-size: 1.8rem;
        }
    
        @media screen and (min-width: 992px) {
            height: 5rem;
            font-size: 2rem;
        }
    }

    textarea {
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        padding: 1rem 1rem;
        max-width: 80rem;

        @media screen and (min-width: 720px) {
            font-size: 1.8rem;
        }
    
        @media screen and (min-width: 992px) {
            font-size: 2rem;
        }
    }

    // Hide default input element for file uploads
    input[type="file"] {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
    }

    // Make custom input look a like for file upload input
    .file-upload-label {
        border: 0.1rem dashed #000;
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        cursor: pointer;
        padding: 1rem 2rem;
        background-color: #eee;
        display: flex;
        flex-flow: column;

        p {
            font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 1.6rem;
        }

        span {
            font-size: 1.2rem;
        }

        &:hover {
            background-color: #e8e8e8;

            p {
                font-style: italic;
            }
        }
    }

    hr {
        margin: 3rem 0;
    }

    // Rules for profile avatar preview in form
    .avatar-section {

        .photo-name {
            margin-top: 1.5rem;
            font-weight: bold;
        }

        .form-avatar-container {
            display: flex;
            width: 8rem;
            height: 8rem;
            border: 0.1rem solid #000;
            border-radius: 4rem;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            padding: 0.2rem;

            .avatar-image-preview {
                border-radius: 4rem;
            }
        }
    }

    // Rules for feedback messages within forms
    .form-error-message {
        color: #c33;
    }

    input.error-input {
        border-color: #c33;

        &:focus {
            border-color: #c33;
        }
    }

    .submit-error-message {
        background-color: #f66;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        border: 0.3rem solid #c33;
        border-radius: 0.4rem;
    }

    .submit-success-message {
        background-color: #3a3;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        border: 0.3rem solid #090;
        border-radius: 0.4rem; 
    }

    // Rules for search input fields
    input[type="search"] {
        height: 4rem;
        border: 0.1rem solid #000;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        max-width: 80rem;

        &:focus {
            background-color: #f8ffff;
            border-width: 0.2rem;
            outline: none;
        }
    }

}

/* Rules for seperate search form */
.search-form {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;

    input {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        min-width: 200px;
    }

    .search-button {
        cursor: pointer;
    }
}