form {
    display: flex;
    flex-flow: column;

    p {
        margin-bottom: 2rem;
    }

    label {
        font-family: 'Encode Sans', Arial, sans-serif;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        height: 4rem;
        border: 0.1rem solid #000;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
        font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;

        &:focus {
            background-color: #eff;
            border-width: 0.2rem;
            outline: none;
        }
    }

    hr {
        margin: 3rem 0;
    }

    .avatar-section {

        .form-avatar-container {
            width: 6.4rem;
            height: 6.4rem;
            border: 0.1rem solid #000;
            border-radius: 3.2rem;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
        }
    }

    .form-error-message {
        color: #c33;
    }

    .error-input {
        border-color: #c33;

        &:focus {
            border-color: #c33;
        }
    }

    .submit-error-message {
        background-color: #f66;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        border: 0.3rem solid #c33;
        border-radius: 0.4rem;
    }
}