/* Rules for start page for guest users */

.homepage-guest-intro {
    h1 {
        margin-bottom: 2rem;

        @media screen and (min-width: 992px) {
            margin-bottom: 4rem;
        }
    }

}

.homepage-guest-features {
    h2 {
        margin-bottom: 4rem;
    }
}

.homepage-guest-cta {
    display: flex;
    flex-flow: column;
    margin: 4rem 0;
    gap: 3rem;

    .homepage-buttons {
        align-self: center;
        display: flex;
        gap: 1rem;
    }

    @media screen and (min-width: 720px) {
        gap: 4rem
    }

    @media screen and (min-width: 992px) {
        gap: 5rem
    }
}

.features-container {
    display: flex;
    flex-flow: column;
    gap: 6rem;
    padding: 0 1rem;

    .feature {
        max-width: 40rem;
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }

    .feature-create {
        align-self: flex-start;
        // background-color: aquamarine;
    }

    .feature-play {
        align-self: center;
        // background-color: beige;
    }

    .feature-compete {
        align-self: flex-end;
        // background-color: brown;
    }

    @media screen and (min-width: 720px) {
        padding: 0 3rem;
    }

    @media screen and (min-width: 992px) {
        padding: 0 6rem;
    }
}