.navigation-header {
    position: relative;
    width: 100vw;
    background-color: #bcc;

    .nav-top-wrapper {
        border-bottom: 0.1rem solid black;
        display: flex;
        justify-content: center;
        height: 6rem;
    }

    .nav-top {
        height: 6rem;
        width: 100vw;
        max-width: 160rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        .nav-top-content-wrapper {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .link-collection {

            display: none;

            @media screen and (min-width: 992px) {
                
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-right: 2rem;
    
                a, p {
                    font-size: 1.4rem;
                }

            }

        }

        a.btn.btn-info {

            margin: 0;

            @media screen and (min-width: 992px) {
                
                display: none;

            }

        }
    
        .nav-avatar-container {
            display: flex;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 1.6rem;
            border: 0.1rem solid #000;
            padding: 0.1rem;
            cursor: pointer;

            img {
                border-radius: 1.6rem;
                width: 3.0rem;
                // height: 3.0rem;
            }
        }

        .search-form {

            display: none;
            margin: 0;

            input {
                margin: 0;
            }

            @media screen and (min-width: 992px) {
                
                display: flex;

            }

        }

        .menu-toggle {
            cursor: pointer;
            height: 3.2rem;
            width: 3.2rem;

            @media screen and (min-width: 992px) {
                display: none;
            }
        }
    
        .nav-top-icon-wrapper {
            display: flex;
            align-items: center;
            gap: 2rem;
    
            .btn {
                margin: 0;
            }

            @media screen and (min-width: 992px) {
                display: none;
            }

        }

        .nav-desktop {
            display: none;

            .link-collection {
                flex-flow: row;
                align-items: center;
                margin-right: 2rem;

                a, p {
                    font-size: 1.4rem;
                }
            }

            .nav-top-icon-desktop-wrapper {
                display: flex;
                align-items: center;
                gap: 4rem;
    
            .btn {
                margin: 0;
            }
            }

            .search-form {
                margin: 0;
            }

            @media screen and (min-width: 992px) {
                display: flex;
                gap: 4rem;
            }
        }
    }
    
    .dropdown-content {
        background-color: #C5CCCC;
        position: absolute;
        top: 6rem;
        width: 100%;
        min-height: calc(100vh - 6rem);

        padding: 4rem 2rem;
    
        .link-collection {
            a, p {
                font-size: 1.8rem;
                text-decoration: underline;
            }
        }

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

}


