/* Rules for navigation/header part of website */

.navigation-header {
    position: sticky;
    inset: 0;
    z-index: 999;
    width: 100vw;
    background-color: #bcc;

    .nav-top-wrapper {
        border-bottom: 0.1rem solid black;
        display: flex;
        justify-content: center;
        height: 6rem;
        padding: 0 2rem;

        @media screen and (min-width: 500px) {
            padding: 0 3rem;
        }

        @media screen and (min-width: 720px) {
            padding: 0 6rem;
        }
    }

    .nav-top {
        height: 6rem;
        width: 100vw;
        max-width: 120rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 2rem;

        .nav-logo-link {
            display: flex;
            align-items: center;
        }

        .nav-top-content-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;

            .sign-in-button {
                display: none;

                @media screen and (min-width: 400px) {
                    display: block;
                    padding: 0.9rem 1.5rem;
                    width: 8.2rem;
                }
            }

            .sign-up-button {
                padding: 1rem 1.6rem;
                width: 8.7rem;
            }

            .sign-out-button {
                padding: 0.9rem 1.5rem;
                width: 8.3rem;
                height: 4rem;

                p {
                    font-size: 1.4rem;
                }
                
                &:hover {
                    font-style: italic;
                }
            }

            form {

                .nav-search {
                    width: 20rem;

                    @media screen and (min-width: 1280px) {
                        width: 30rem;
                    }
                }
            }

            @media screen and (min-width: 400px) {
                gap: 2rem;
            }
        }

        .link-collection {

            display: none;

            .sign-up-link, .sign-in-link, .profile-page-link, .sign-out-link {

                @media screen and (min-width: 992px) {
                    display: none;
                }
            }

            .view-quiz-list {
                @media screen and (min-width: 992px) {
                    width: 9.6rem;
                }
            } 
            
            .create-a-quiz {
                @media screen and (min-width: 992px) {
                    width: 9.3rem;
                }
            } 
            
            .about-website {
                @media screen and (min-width: 992px) {
                    width: 10.3rem;
                }
            }

            @media screen and (min-width: 992px) {
                
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-right: 1.5rem;
    
                a, p {
                    font-size: 1.4rem;
                    // width: 10.3rem;
                }

            }

        }

        a.btn.btn-info, .btn-info-open {

            margin: 0;

            // @media screen and (min-width: 992px) {
                
            //     display: none;

            // }

        }
    
        .nav-avatar-container {
            display: flex;
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 1.9rem;
            border: 0.1rem solid #000;
            padding: 0.1rem;
            cursor: pointer;

            img {
                border-radius: 1.9rem;
                width: 3.6rem;
            }
        }

        .search-form {

            display: none;
            margin: 0;

            input {
                margin: 0;
            }

            @media screen and (min-width: 992px) {
                
                display: flex;

            }

        }

        .menu-toggle {
            cursor: pointer;
            height: 3.8rem;
            width: 3.8rem;

            img {
                height: 3.8rem;
                width: 3.8rem;
            }

            @media screen and (min-width: 992px) {
                display: none;
            }
        }

        
    }
    
    /* Rules for content in dropdown section on smaller screens */
    .dropdown-content {
        background-color: #C5CCCC;
        position: absolute;
        top: 6rem;
        width: 100%;
        min-height: calc(100vh - 6rem);

        padding: 4rem 2rem;

        padding: 4rem 2rem;

        @media screen and (min-width: 500px) {
            padding: 4rem 3rem;
        }

        @media screen and (min-width: 720px) {
            padding: 4rem 6rem;
        }
    
        .link-collection {
            a, p {
                font-size: 1.8rem;
                text-decoration: underline;
            }
        }

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    form {

        .nav-search {
            max-width: 40rem;
        }
    }

}


